<section class="wow fadeIn" data-wow-delay="0.1s">
    <div class="bg-secondary text-light text-center p-5">
       <div class="d-flex justify-content-center mb-4">
           <a class="btn btn-dark btn-square mx-1" href="https://twitter.com/elliotH4cks"><i class="fab fa-twitter"></i></a>
           <a class="btn btn-dark btn-square mx-1" href="https://facebook.com/thisguyhack"><i class="fab fa-facebook-f"></i></a>
           <a class="btn btn-dark btn-square mx-1" href="https://linkedin.com/in/elliot-hacks"><i class="fab fa-linkedin-in"></i></a>
           <a class="btn btn-dark btn-square mx-1" href="https://instagram.com/elliot.nkwama"><i class="fab fa-instagram"></i></a>
       </div>
       <div class="d-flex justify-content-center mb-3">
           <a class="text-light px-3 border-end" href="#">Privacy</a>
           <a class="text-light px-3 border-end" href="#">Terms</a>
           <a class="text-light px-3 border-end" href="#">FAQs</a>
           <a class="text-light px-3" href="#">Help</a>
       </div>				
	    <p class="m-0">&copy; All Rights Reserved. <a href="mailto:thisguyhack@gmail.com">elliot-hacks</a></p>
   </div>
</section>